[role="button"],
button {
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent
}